.language-nav {
  display: none;
  position: relative;
  font-family: var(--font-family);
}

.language-nav__ul {
  position: absolute;
  background-color: var(--bs-light);
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 19rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.language-nav__item {
  font-size: 1.6rem;
  font-weight: 500;
}

.language-nav__link {
  color: var(--bs-dark);
  text-decoration: none;
}

.language-nav__link:hover {
  color: var(--bs-orange);
}
